{include file="common/top" /}
<style type="text/css">
    .main-container .table tr td {
        vertical-align: middle;
    }
    .main-container .table tr td a{
        margin-right:10px;
    }
</style>
<link rel="stylesheet" href = "__STATIC__/ace/css/userauth.css"></link>
</head>
<body class="no-skin" style="font-size: 13px;">
{include file="common/header" /}
<div class="main-container" id="main-container"> {include file="common/sidebar" /}
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
                    <li> <a href="{:url('/admin/game/config_recode')}">系统开奖记录</a> </li>
                    <li class="active">{$pagename}</li>
                </ul>
            </div>
            <div class="page-content">
                <div class="page-header">
                    <h1 style="text-align: left;"> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 查询出<small style="color: blue">{$count??0}</small>条数据 </small> </h1>
                </div>
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12" style="margin-bottom:10px;">
                                <form action="{:url('config_recode')}" method="get" class="form-inline" role="form">
                                    <div class="form-group">
                                        <label>期号</label>
                                        <input name="keywords" type="text" class="form-control" placeholder="请输入期号">
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-primary">查询</button>
                                    <button type="reset" class="btn btn-sm btn-danger hidden-xs" style="float:right;margin-right:10px;">清空查询条件</button>
                                </form>
                            </div>
                            <div class="col-xs-12">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>期号</th>
                                        <th>状态</th>
                                        <th>开奖方向</th>
                                        <th>本期下注</th>
                                        <th>红方下注</th>
                                        <th>蓝方下注</th>
                                        <th>开奖时间</th>
                                        <th>创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="all_recode" id="vo" key="k"}
                                    <tr>
                                        <td class="center">{$k}</td>
                                        <td class="center">{$vo.id}</td>
                                        <td class="center">{$vo.status==1?"未开奖":"已开奖"}</td>
                                        <td class="center">
                                            {if condition = "in_array($vo.right,['0','1'])"}
                                                {$vo.right==0?"<span class='red'>红</span>":"<span class='blue'>蓝</span>"}
                                            {else}
                                                <span class="grey">未开奖</span>
                                            {/if}
                                        </td>
                                        <td class="center">{$vo.chip_money}</td>
                                        <td class="center">{$vo.red_money}</td>
                                        <td class="center">{$vo.blue_money}</td>
                                        <td class="center">{$vo.create_time}</td>
                                        <td class="center">{$vo.update_time}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <center>{$page}</center>
                                <div style="width:100%;margin: 0 auto; text-align:center;">
                                    <ul class="pagination" >
                                        {$info.page}
                                    </ul>
                                </div>
                            </div>
                            <!-- /.span -->
                        </div>
                        <!-- /.row -->
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a> </div>
<!-- /.main-container -->
<!-- basic scripts -->
{include file="common/bottom" /}
<script src="__JS__/layer/layer.js"></script>
<script type="text/javascript">
    // 定位
    $('a[href="/Admin/Game/recode.html"]').parents().filter('li').addClass('open active');
</script>
<script type="text/javascript">
    {if condition="input('get.keywords')"}
    $('input[name="keywords"]').val('{$_GET["keywords"]}');
    {/if}
        {if condition="is_numeric(input('get.status'))"}
        $('select[name="status"]').val({$_GET['status']});
        {/if}
</script>
<script type="text/javascript">
    $('a[href="/Admin/Game/config_recode.html"]').parents().filter('li').addClass('open active');
    jQuery(function($) {
        //清除查询条件
        $('#reset').click(function() {
            location.href = '{:url(\'index\')}';
        });
        //更改状态
        $('.state').change(function() {
            var state = $(this).val();
            var id = $(this).attr('data-id');
            $.post("{:url('edit')}", {id: id,status: state}).success(function(data) {
                layer.msg(data.info, {icon: data.status,time: 1500},function(){
                    location.href=self.location.href;
                });
            })
        });
    });


</script>

<script src = "__STATIC__/ace/js/userauth.js"></script>
</body>
</html>