{include file="common/top" /}
<style type='text/css'>
.father_label {margin-left:150px;width:150px;font-family: "微软雅黑";font-size:18px;}
.child_label {line-height:30px;font-family: "微软雅黑";}
</style>
</head><body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> 
  <!-- #section:basics/sidebar --> 
  {include file="common/sidebar" /} 
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs -->
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('group')}">用户组管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
        <!-- /.breadcrumb --> 
      </div>
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} <a class="btn btn-sm btn-success" style="float:right; margin-right:10px;" href="{:url('group')}"><img src='__IMG__/back.png'/>&nbsp;返&nbsp;回&nbsp;</a></h1>
        </div>
          <!-- 角色组授权 -->
          <div class="row">
            <div class="col-xs-12">
              <form class="form-horizontal form-post" role="form">
                {volist name="list" id="vo"}
	                <div class="form-group">
		                <label class="col-sm-3 control-label no-padding-right father_label" style='text-align:left;'>
		                	<input name="rules[]" class="auth_rules ace ace-checkbox-2" type="checkbox" value="{$vo.id}"><span class="lbl">&nbsp;{$vo.title}</span>：
		                </label>
		                <div class="col-sm-9">
		                {volist name="vo['child']" id="sub"}
		                	<label class="checkbox-inline child_label">
		                		<input name="rules[]" class="auth_rules ace ace-checkbox-2" type="checkbox" value="{$sub.id}"><span class="lbl">&nbsp;{$sub.title}</span>
		                	</label>
		                {/volist}
		                <hr />
		                </div>
	                </div>
                {/volist}
                <div class="space-4"></div>
                <div class="alert alert-danger" style="display:none;"></div>
                <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                    <input name="id" class="hidden" type="text" value="{$info.id}">
                    <button class="btn btn-info" type="submit" id="btn"> <i class="ace-icon fa fa-check bigger-110"></i> 保存 </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <!--表单结束--> 
      </div>
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner">
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> </div>
<!-- /.main-container --> 

<!-- basic scripts --> 
<include file="common/bottom" />
<script src="__JS__/layer/layer.js"></script>
<script type="text/javascript">
$('a[href="/Admin/Admin/group.html"]').parents().filter('li').addClass('open active');
// 选择验证节点
var rules = [{$info.rules}];
$('.auth_rules').each(function(){
	if( $.inArray( parseInt(this.value,10),rules )>-1 ){
		$(this).prop('checked',true);
	}
	if(this.value==''){
		$(this).closest('span').remove();
	}
});

// 提交更新用户组授权
$(".form-post").find('button:submit').click(function() {
    $.post("{:url('group_auth')}", $(".form-post").serialize()).success(function(data) {
			$('#btn').text('正在保存').attr('disabled',"true");
	    if (data.code === 0){
	      layer.msg(data.msg,{icon:data.code,time:1000},function(){
	      	location.href = self.location.href;
	      });
	    }else{
	    	layer.msg(data.msg,{icon:data.code,time:1000},function(){
	      	location.href = self.location.href;
	      });
	    }
	  });
		return false;
});
</script> 
</body>
</html>