{include file="common/top" /}
</head>
<body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('index')}">权限管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 后台所有的用户组 </small> <a class="btn btn-sm btn-success" style="float:right; margin-right:10px;" href="{:url('add_group')}" >添加用户组</a></h1>
        </div>
        <!-- /.page-header -->
        
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">ID</th>
                      <th>用户组名称</th>
                      <th>用户组描述</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {volist name="list" id="vo"}
                      <tr>
                        <td class="center">{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.description}</td>
                        <td class="hidden-480">{$vo.statusTxt}</td>
                        <td>
                        <a class="btn btn-sm btn-success" href="{:url('edit_group?id='.$vo['id'])}">修改</a>
                        <a class="btn btn-sm btn-info" href="{:url('group_auth?id='.$vo['id'])}">用户组授权</a>
                        </td>
                      </tr>
                    {/volist}
                  </tbody>
                </table>
              </div>
              <!-- /.span --> 
            </div>
            <!-- /.row --> 
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a> </div>
<!-- /.main-container --> 

<!-- basic scripts --> 
{include file="common/bottom" /}
</body>
</html>