{include file="common/top" /}
</head>
<body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> 
  {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li class="active">后台首页</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1> 后台首页 <small> <i class="ace-icon fa fa-angle-double-right"></i> 在这里显示汇总信息 </small> </h1>
        </div>
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="alert alert-block alert-success">
              <button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-times"></i> </button>
              <i class="ace-icon fa fa-check green"></i> 欢迎使用{:config('WEB_SITE_NAME')}网站管理系统！ (特别提示：请使用谷歌内核浏览器访问本网站！如chrome，360极速，搜狗浏览器高速模式等)</div>
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}
</body>
</html>
<script type="text/javascript">
    $('a[href="/Admin/Index/index.html"]').parents().filter('li').addClass('active');
</script>

