{include file="common/top" /}
<style>dt,dd{line-height:24px;}</style>
</head>
<body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> 
  {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 显示个人的账号信息 </small> </h1>
        </div>
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="widget-box">
              <div class="widget-body">
                <div class="widget-main">
                  <dl class="">
                    <dt>用户名</dt>
                    <dd>{$info.username}</dd>
                    <dt>所属用户组</dt>
                    <dd>{$info.groupName}</dd>
                    <dt>最后一次登录IP</dt>
                    <dd>{$info.last_login_ip}</dd>
                    <dt>最后一次登录时间</dt>
                    <dd>{$info.last_login_time}</dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}
<script type="text/javascript">
$('a[href="/Index/index.html"]').parents().filter('li').addClass('active');
</script>
</body>
</html>