{include file="common/top" /}
<style type="text/css">
.main-container .table tr td {
  vertical-align: middle;
}
.main-container .table tr td a{
  margin-right:10px;
}
</style>
</head>
<body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> {include file="common/sidebar" /}
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('index')}">订单管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
      </div>
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} <small> <i class="ace-icon fa fa-angle-double-right"></i> 查询出{$info.count}条数据 </small> </h1>
        </div>
        <!-- /.page-header -->
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:10px;">
                <form action="{:url('index')}" method="get" class="form-inline" role="form">
                  <div class="form-group">
                    <label>用户名称</label>
                    <select name="uid" class="form-control">
                    <option value="">全部</option>
                      {volist name="userlist" id="vo"}
                        <option value="{$vo.id}">{$vo.username}</option>
                      {/volist}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>出价人类型</label>
                    <select name="pricer_type" class="form-control">
                    <option value="">全部</option>
                      {volist name="pricer_type" id="vo"}
                        <option value="{$vo.value}">{$vo.key}</option>
                      {/volist}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary">查询</button>
                  <button type="reset" class="btn btn-sm btn-danger hidden-xs" style="float:right;margin-right:10px;">清空查询条件</button>
                </form>
              </div>
              <div class="col-xs-12">
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="center">订单ID</th>
                      <th>用户名称</th>
                      <th>竞拍id</th>
                      <th>出价</th>
                      <th>出价时间</th>
                      <th>出价人类型</th>
                    </tr>
                  </thead>
                  <tbody>
                    {volist name="info.list" id="vo" key="k"}
                      <tr>
                        <td class="center">{$vo.id}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.bidders_id}</td>
                        <td>{$vo.price}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.pricer_type}</td>
                      </tr>
                    {/volist}
                  </tbody>
                </table>
                <div style="width:100%;margin: 0 auto; text-align:center;">
                  <ul class="pagination" >
                    {$info.page}
                  </ul>
                </div>
              </div>
              <!-- /.span --> 
            </div>
            <!-- /.row --> 
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner"> 
      <!-- #section:basics/footer -->
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
      <!-- /section:basics/footer --> 
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"><i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i></a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}
<script src="__JS__/layer/layer.js"></script>
<script type="text/javascript">
  $('a[href="/Admin/Order/index.html"]').parents().filter('li').addClass('open active');
  {if condition="input('get.keywords')"}
    $('input[name="keywords"]').val('{$_GET["keywords"]}');
  {/if}
  {if condition="is_numeric(input('get.order_status'))"}
    $('select[name="order_status"]').val({$_GET['order_status']});
  {/if}
  {if condition="is_numeric(input('get.buyer_id'))"}
    $('select[name="buyer_id"]').val({$_GET['buyer_id']});
  {/if}
    {if condition="is_numeric(input('get.seller_id'))"}
    $('select[name="seller_id"]').val({$_GET['seller_id']});
  {/if}

</script>
<script type="text/javascript">
jQuery(function($) {
  //清除查询条件
  $(document).on('click', 'button:reset',function() {
    location.href = '{:url(\'index\')}';
  }); 
  //删除用户
  function deleteInfo(obj,id){
    layer.confirm('确定要删除吗？<br>所有的信息都将被完全删除，不可恢复！', {
        btn: ['确定','关闭'] //按钮
      }, function(){
         $.post("{:url('delete')}", {id: id}).success(function(data) {
          if (data.code == 0) {
            layer.msg(data.msg, {icon: data.code,time: 1500},function(){
              location.href=self.location.href;
            });
          }else{
            layer.msg(data.info, {icon: data.status,time: 1500},function(){
              location.href=self.location.href;
            });
          }
        })
      }
    );
  }
</script>
</body>
</html>