{include file="common/top"/}
<style type="text/css">
#preview{
  height: 120px;
  width: auto;
}
</style>
</head>
<body class="no-skin">
{include file="common/header"/}
<div class="main-container" id="main-container">
    <!-- #section:basics/sidebar -->
    {include file="common/sidebar"/}
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a>
                    </li>
                    <li><a href="{:url('index')}">APP管理</a></li>
                    <li class="active">{$pagename}</li>
                </ul>
                <!-- /.breadcrumb -->
            </div>
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <div class="page-header">
                    <h1> {$pagename} </h1>
                </div>
                <!-- 添加用户 -->
                <div class="row">
                    <div class="col-xs-12">
                      <form action="{:url('upload')}" enctype="multipart/form-data" method="post">
                    <input type="file"  name="image" /> <br> 
                    <input class="btn btn-success btn-sm" type="submit" value="上传" /> 
                    </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content"><span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a></div>
<!-- /.main-container -->
<!-- basic scripts -->
<include file="common/bottom"/>
<script type="text/javascript">
    //设定菜单位置
    $('a[href="/Admin/Banner/index.html"]').parents().filter('li').addClass('open active');
    //提交表单
    $(".form-post").find('button:submit').click(function () {
        $.post("{:url('add')}", $(".form-post").serialize()).success(function(data) {
            $('#btn').text('正在保存').attr('disabled', "true");
            if (data.status === 0) {
                $(".form-post .alert").text(data.info).show();
                setTimeout(function () {
                        $('#btn').text('保存').removeAttr('disabled');
                        $(".form-post .alert").empty().hide();
                    },
                    1000);
            } else {
                setTimeout(function () {
                        location.href = data.url;
                    },
                    1000);
            }
        });
        return false;
    })
</script>
</body>
</html>