{include file="common/top" /}
</head><body class="no-skin">
{include file="common/header" /}
<div class="main-container" id="main-container"> 
  <!-- #section:basics/sidebar --> 
  {include file="common/sidebar" /} 
  <!-- /section:basics/sidebar -->
  <div class="main-content">
    <div class="main-content-inner"> 
      <!-- #section:basics/content.breadcrumbs -->
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li> <i class="ace-icon fa fa-home home-icon"></i> <a href="{:url('Index/index')}">{:config('WEB_SITE_NAME')}</a> </li>
          <li> <a href="{:url('index')}">资讯管理</a> </li>
          <li class="active">{$pagename}</li>
        </ul>
        <!-- /.breadcrumb --> 
      </div>
      <!-- /section:basics/content.breadcrumbs -->
      <div class="page-content">
        <div class="page-header">
          <h1> {$pagename} </h1>
        </div>
          <!-- 添加用户 -->
          <div class="row">
            <div class="col-xs-12">
              <form class="form-horizontal form-post" role="form" method="post">
                <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right">当前发布版本： </label>
                  	<div class="col-sm-1">
                      <select name="lang" class="form-control">
                          <option value="cn">中文</option>
                          <option value="en">英文</option>
                      </select>
                     </div>
                 </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right"> 新闻标题 </label>
                  <div class="col-sm-9">
                    <input name="title" type="text" class="col-xs-10 col-sm-5" placeholder="请填写新闻标题" value="" />
                  </div>
                </div>
                 <div class="form-group">
                  <label class="col-sm-3 control-label no-padding-right"> 新闻内容 </label>
                  <br>
                  <div class="col-sm-10 col-lg-5" style="padding-right: 0px;">
                  <script id="container" name="content" text="text/plain"></script>
                </div>
                </div>
                <div class="space-4"></div>
                <div class="alert alert-danger" style="display:none;"></div>
                <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                  <input name="id" class="hidden" type="text" value="{$info.id}">
                    <button class="btn btn-info" type="submit" id="btn"> <i class="ace-icon fa fa-check bigger-110"></i> 保存 </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- /.main-content -->
  <div class="footer">
    <div class="footer-inner">
      <div class="footer-content"> <span class="bigger-120"> <span class="blue bolder">{:config('WEB_SITE_NAME')} </span>{$Think.WEB_VERSION}版 </span></div>
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> </div>
<!-- /.main-container --> 
<!-- basic scripts --> 
{include file="common/bottom" /}

<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">

<script src="__LAYUI__/layui.js"></script>
<script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__EDITOR__/ueditor.config.js"></script>
<script type="text/javascript" src="__EDITOR__/ueditor.all.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        var ue = UE.getEditor('container');
    });
</script>
<!-- 上传单图片 -->
<script>
layui.use('upload', function(){
  var upload = layui.upload;
  //执行实例
  var uploadInst = upload.render({
    elem: '#test1' //绑定元素
    ,url: "{:url('News/upload')}" //上传接口
    ,data: {type: 'news'}
    ,done: function(res){
      // console.log(res)
      //上传完毕回调
      if(res.status == 0){
        layer.msg(res.info, {icon: res.status,time: 1500});
      }else{
        // 显示img里边的图片
        $('#url-view').show();
        //返回路径
        $("input[name=pic]").val(res.msg);
        //给IMG返回路径
        $("img[name=pic]").attr("src",res.msg)
      }
    }
  });
});
</script>
<script type="text/javascript">
$('a[href="/Admin/News/index.html"]').parents().filter('li').addClass('open active');
//提交表单
$(".form-post").find('button:submit').click(function() {
  $.post("{:url('add')}", $(".form-post").serialize()).success(function(data) {
    $('#btn').text('正在保存').attr('disabled', "true");
    if (data.status === 0) {
      $(".form-post .alert").text(data.info).show();
      setTimeout(function() {
        $('#btn').text('保存').removeAttr('disabled');
        $(".form-post .alert").empty().hide();
      },
      1000);
    }else{
      setTimeout(function() {
        location.href = data.url;
      },
      1000);
    }
  });
  return false;
});
</script> 
</body>
</html>